# IDE / Editor folders
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS metadata
.DS_Store
Thumbs.db

# Log files
*.log
logs/

# Build and package output
node_modules/
dist/
dist-ssr/
out/

# Environment variables
.env
.env.local
.env.*.local
